
<app-navbar></app-navbar>

<div class="about">
    <div class="container">
      <div class="row align-items-center">
        <!-- Content Section -->



          <!-- Tabs -->
            <br><div class="about-tab"></div>
            <ul class="nav nav-pills nav-justified">
              <li class="nav-item" *ngFor="let tab of tabs; let i = index">
                <a class="nav-link" [ngClass]="{ active: activeTab === i }" (click)="setActiveTab(i)"> {{ tab.title }} </a>
              </li>
            </ul>

            <!-- Tab Content -->
            <div class="tab-content">
              <ng-container *ngFor="let tab of tabs; let i = index">
                <div *ngIf="activeTab === i" class="container tab-pane" [ngClass]="{ active: activeTab === i, fade: activeTab !== i }"  >
                  <!--<div class="tab-image">
                    <img [src]="tab.image" alt="{{ tab.title }}" class="img-fluid"
                  </div>

                  <!-Tab Content -->
                  <ng-container [ngSwitch]="i">
                    <!-- About Tab -->
                    <ng-container *ngSwitchCase="0">
                      <h3 style="text-align: center; font-size: 40px;">Espace de connexion des bénévoles</h3>

                      <!-- Form 1: Login Form -->
                      <section class="contact login_box_area" id="contact" style="margin-top: 50px;">
                        <div class="row container align-self-center" style="padding-top: 60px;">
                          <form #loginForm="ngForm" (ngSubmit)="submitLogin()" class="col-lg-6">
                            <input type="email" placeholder="Entrez votre adresse e-mail" class="box styled-input" [(ngModel)]="loginData.email" name="email" required/>

                            <input type="password"  placeholder="Mot de passe"  class="box styled-input" [(ngModel)]="loginData.password"   name="password"  required/>
                            <button type="submit" class="btn-Flower" [disabled]="loginForm.invalid" (click)="submitLogin()">Login</button>

                            <div style="padding-top: 10px;">
                              <span class="errorMsg">{{ loginErrorMsg }}</span>
                            </div>
                          </form>

                          <!-- Welcome Message -->
                          <div class="image col-lg-5">
                            <div class="login_box_area">
                              <div class="login_box_img">
                                <div class="hover">
                                  <h4>Nouveau sur notre site ?</h4>
                                  <p>Vous avez déjà un compte ? Qu'attendez-vous ?</p>
                                  <div class="button-group">

                                    <a routerLink="/benevolat" class="btn-Flower">S'inscrire</a>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </section>
                    </ng-container>

                    <!-- Mission Tab -->
                    <ng-container *ngSwitchCase="1">

                      <h3 style="text-align: center; font-size: 40px;">Espace de connexion des donateurs</h3>
                    
                      <!-- Form 2: Donation Form -->
                      <section class="contact login_box_area" id="contact" style="margin-top: 50px;">
                        <div class="row container align-self-center" style="padding-top: 60px;">
                          <form #donationForm="ngForm" (ngSubmit)="submitLogin()" class="col-lg-6">
                            <input type="email" placeholder="Entrer votre Email" class="box styled-input" [(ngModel)]="loginData.email" name="fullName" required/>

                            <input type="password" placeholder="Entrer mot de passe " class="box styled-input" [(ngModel)]="loginData.password" name="amount" required />

                            <button type="submit" class="btn-Flower" [disabled]="donationForm.invalid" (click)="submitLogin()">
                              Se Connecter
                            </button>

                            <div style="padding-top: 10px;">
                              <span class="errorMsg">{{ loginErrorMsg }}</span>
                            </div>
                          </form>

                          <!-- Donation Message -->
                          <div class="image col-lg-5">
                            <div class="login_box_img">
                              <div class="hover">
                                <h4>Faites la différence !</h4>
                                <p>
                                  Votre don peut nous aider à fournir des ressources essentielles à ceux qui en ont besoin. Chaque contribution nous rapproche de la réalisation de notre mission
                                </p>
                                <span><a routerLink="/register" class="btn-Flower">Signup</a></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                    </ng-container>

                    <!-- Vision Tab -->
                    <ng-container *ngSwitchCase="2">
                      <h3 style="text-align: center; font-size: 40px;">Espace de connexion des bénéficiaires</h3>

                      <h3 style="text-align: center; font-size: 40px;">Login Bénificaire</h3>
                   
                      <!-- Form 3: Contact Form -->
                      <section class="contact login_box_area" id="contact" style="margin-top: 50px;">
                        <div class="row container align-self-center" style="padding-top: 60px;">
                          <form #contactForm="ngForm" (ngSubmit)="submitLogin()" class="col-lg-6">
                            <input type="text" placeholder="Votre Nom" class="box styled-input" [(ngModel)]="loginData.email" name="name" required />

                            <input type="email" placeholder="votre e-mail" class="box styled-input"[(ngModel)]="loginData.password" name="email" required />

                            <button type="submit" class="btn-Flower" [disabled]="contactForm.invalid">
                              Connexion
                            </button>

                            <div style="padding-top: 10px;">
                              <span class="errorMsg">{{ loginErrorMsg }}</span>
                            </div>
                          </form>

                          <!-- Contact Message -->
                          <div class="image col-lg-5">
                            <div class="login_box_img">
                              <div class="hover">
                                <h4>Connecter</h4>
                                <p>
                                  Nous serions ravis de vous entendre. Que vous ayez une question, une suggestion ou que vous vouliez simplement dire bonjour, n'hésitez pas à nous contacter.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                    </ng-container>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>



  <app-footer></app-footer>

