<!-- Nav Bar Start -->
<nav class="navbar">
    <div class="container">
        <a href="/" class="navbar-brand">
            <img src="assets/logo.jpg" alt="Logo">
        </a>

        <div class="nav-links">
            <a routerLink="/" class="nav-item active">Home</a>
            <a routerLink="/about" class="nav-item">About</a>
            <a routerLink="/causes" class="nav-item">Causes</a>
            <a routerLink="/events" class="nav-item">Events</a>
            <a routerLink="/blog" class="nav-item">Blog</a>
            <a routerLink="/volunteer" class="nav-item">bénévolat avec nous</a>
        </div>

        <div class="nav-actions">
            <a routerLink="/login" class="nav-item">Login</a>
            <a routerLink="/register" class="nav-item">Register</a>
            <button class="btn-donate">Donate Now</button>
        </div>
    </div>
</nav>
<!-- Nav Bar End -->
