<!-- Sidebar with toggle class 'open' -->
<div class="sidebar" [class.open]="isSidebarOpen">
  <button class="close-sidebar" (click)="closeSidebar()">
    <fa-icon [icon]="faTimes"></fa-icon>
  </button>
  
  <ul>
    <!-- Gestion des Bénévoles -->
    <li routerLinkActive="active">
      <a routerLink="/admin-compte/gestion-benevoles" (click)="closeSidebar()">
        <fa-icon [icon]="faUsers"></fa-icon> Gestion des Bénévoles
      </a>
    </li>

    <!-- Gestion des Bénéficiaires -->
    <li routerLinkActive="active">
      <a routerLink="/admin-compte/gestion-beneficiaires" (click)="closeSidebar()">
        <fa-icon [icon]="faHandHoldingHeart"></fa-icon> Gestion des Bénéficiaires
      </a>
    </li>

    <!-- Gestion des Dons -->
    <li routerLinkActive="active">
      <a routerLink="/admin-compte/gestion-des-dons" (click)="closeSidebar()">
        <fa-icon [icon]="faDonate"></fa-icon> Gestion des Dons
      </a>
    </li>

    <!-- Gestion des Notifications -->
    <li routerLinkActive="active">
      <a routerLink="/admin-compte/gestion-notification" (click)="closeSidebar()">
        <fa-icon [icon]="faBell"></fa-icon> Gestion des Notifications
      </a>
    </li>

    <!-- Gestion des Rapports -->
    <li routerLinkActive="active">
      <a routerLink="/admin-compte/gestion-des-rapports" (click)="closeSidebar()">
        <fa-icon [icon]="faChartBar"></fa-icon> Gestion des Rapports
      </a>
    </li>

    <!-- Gestion des documents -->
    <li routerLinkActive="active">
      <a routerLink="/admin-compte/voir-documents-beneficiaire" (click)="closeSidebar()">
        <fa-icon [icon]="faNewspaper"></fa-icon> voir Documents
      </a>
    </li>

    <!-- Gestion des Projets -->
    <li routerLinkActive="active">
      <a routerLink="/admin-compte/gestion-des-projets" (click)="closeSidebar()">
        <fa-icon [icon]="faProjectDiagram"></fa-icon> Gestion des Projets
      </a>
    </li>

    <!-- Gestion des Feedback -->
    <li routerLinkActive="active">
      <a routerLink="/admin-compte/gestion-feedback" (click)="closeSidebar()">
        <fa-icon [icon]="faComments"></fa-icon> Gestion des Feedback
      </a>
    </li>
  </ul>
</div>

<!-- Overlay for mobile -->
<div class="sidebar-overlay" [class.open]="isSidebarOpen" (click)="closeSidebar()"></div>

<!-- Main content area -->
<div class="main-content" [class.sidebar-open]="isSidebarOpen">
  <router-outlet></router-outlet>
</div>