<app-navbarcompte-admin></app-navbarcompte-admin>
<app-sidebar-admin></app-sidebar-admin>

<div class="main-container">
  <h2>Visualisation des documents des bénéficiaires</h2>

  <div class="search-bar">
    <input
      type="text"
      [(ngModel)]="searchText"
      placeholder="🔍 Rechercher un bénéficiaire..."
    />
  </div>

  <div class="cards-wrapper">
    <div *ngFor="let beneficiaire of beneficiairesFiltres" class="beneficiaire-card">
      <h3>{{ beneficiaire.lastname }} {{ beneficiaire.name }}</h3>

      <div *ngFor="let doc of beneficiaire.documents | keyvalue" class="doc-item">
        <i class="fas fa-file-alt icon-doc"></i>
        <span>{{ doc.key }}</span>

        <a *ngIf="doc.key === 'bulletin'; else otherDocs"
           (click)="downloadBulletin(beneficiaire._id)"
           class="download-link">
           Télécharger
        </a>

        <ng-template #otherDocs>
          <a [href]="doc.value" target="_blank" class="view-link">Voir</a>
        </ng-template>
      </div>
    </div>
  </div>
</div>
