<!-- Footer Start -->
<div class="footer">
  <div class="container">
    <div class="row">
      <!-- Contact Info -->
      <div class="col-lg-3 col-md-6">
        <div class="footer-contact">
          <h2>Notre Siège Social</h2>
          <p><i class="fa fa-map-marker-alt"></i> 63 rue Iran 1002, Tunis</p>
          <p><i class="fa fa-phone-alt"></i> +216 28 391 000</p>
          <p><i class="fa fa-envelope"></i> contact&#64;tunisiacharity.org</p>
          <div class="footer-social">
            <a class="btn btn-custom" href="#"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-custom" href="#"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-custom" href="#"><i class="fab fa-youtube"></i></a>
            <a class="btn btn-custom" href="#"><i class="fab fa-instagram"></i></a>
            <a class="btn btn-custom" href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>

      <!-- Popular Links -->
      <div class="col-lg-3 col-md-6">
        <div class="footer-link">
          <h2>Popular Links</h2>
          <a routerLink="/">A propos de nous</a>
          <a routerLink="/contact">Contact Us</a>
          <a href="#">Popular Causes</a>
          <a href="#">Upcoming Events</a>
          <a href="#">Latest Blog</a>
        </div>
      </div>
