<app-navbar></app-navbar>

<div class="about-tab">
  <!-- Tab Content -->
  <div class="tab-content">
    <!-- Tab 1 Content -->
    <div id="tab-content-1" class="container">
      <h1 class="title">Inscrivez-vous pour aider les autres !</h1>
      <!-- Signup Section -->
      <section class="contact login_box_area" id="contact">
        <div class="row container">
          <!-- Form -->
          <form [formGroup]="signupForm" class="form-container">
            <!-- Success Message -->
            <div *ngIf="successMessage" class="successMsg" style="color: green; font-weight: bold; margin-bottom: 10px;">
              {{ successMessage }}
            </div>

            <!-- Name Field -->
            <input type="text" placeholder="Nom Complet" class="box" formControlName="name" />
            <div *ngIf="signupForm.get('name')?.invalid && (signupForm.get('name')?.dirty || signupForm.get('name')?.touched)" class="errorMsg">
              <div *ngIf="signupForm.get('name')?.errors?.['required']">Nom est obligatoire</div>
              <div *ngIf="signupForm.get('name')?.errors?.['minlength']">Doit contenir au moins 3 caractères</div>
              <div *ngIf="signupForm.get('name')?.errors?.['maxlength']">Doit contenir au maximum 50 caractères</div>
            </div> <br>

            <!-- Email Field -->
            <input type="email" placeholder="Adresse e-mail" formControlName="email" class="box">
            <span class="errorMsg">{{errorMsg}}</span>
            <div *ngIf="signupForm.get('email')?.invalid && (signupForm.get('email')?.dirty || signupForm.get('email')?.touched)" class="errorMsg">
              <div *ngIf="signupForm.get('email')?.errors?.['required']">L'email est requis</div>
              <div *ngIf="signupForm.get('email')?.errors?.['pattern']">Format d'email invalide</div>
            </div> <br>

            <!-- Password Field -->
            <input type="password" placeholder="Mot de passe" class="box" formControlName="password">
            <div class="form-group" *ngIf="signupForm.get('password')?.invalid && (signupForm.get('password')?.dirty || signupForm.get('password')?.touched)">
              <label class="col invalid_msg" [ngClass]="signupForm.get('password')?.errors?.['required'] && signupForm.get('password')?.touched ? 'text-danger': 'text-success'">
                <i class="material-icons">{{ signupForm.get('password')?.errors?.['required'] && signupForm.get('password')?.touched ? 'cancel': 'check_circle' }}</i>
                Le mot de passe est requis !
              </label>
              <label class="col invalid_msg" [ngClass]="signupForm.get('password')?.errors?.['required'] || signupForm.get('password')?.errors?.['minlength'] ? 'text-danger': 'text-success'">
                <i class="material-icons">{{ signupForm.get('password')?.errors?.['required'] || signupForm.get('password')?.errors?.['minlength'] ? 'cancel': 'check_circle' }}</i>
                Le mot de passe doit contenir au moins 8 caractères !"
              </label>
              <label class="col invalid_msg" [ngClass]="signupForm.get('password')?.errors?.['required'] || signupForm.get('password')?.errors?.['hasNumber'] ? 'text-danger': 'text-success'">
                <i class="material-icons">{{ signupForm.get('password')?.errors?.['required'] || signupForm.get('password')?.errors?.['hasNumber'] ? 'cancel': 'check_circle' }}</i>
                Le mot de passe doit contenir au moins 1 chiffre !
              </label>
              <label class="col invalid_msg" [ngClass]="signupForm.get('password')?.errors?.['required'] || signupForm.get('password')?.errors?.['hasCapitalCase'] ? 'text-danger': 'text-success'">
                <i class="material-icons">{{ signupForm.get('password')?.errors?.['required'] || signupForm.get('password')?.errors?.['hasCapitalCase'] ? 'cancel': 'check_circle' }}</i>
                Le mot de passe doit contenir au moins 1 lettre majuscule !
              </label>
              <label class="col invalid_msg" [ngClass]="signupForm.get('password')?.errors?.['required'] || signupForm.get('password')?.errors?.['hasSmallCase'] ? 'text-danger': 'text-success'">
                <i class="material-icons">{{ signupForm.get('password')?.errors?.['required'] || signupForm.get('password')?.errors?.['hasSmallCase'] ? 'cancel': 'check_circle' }}</i>
                Le mot de passe doit contenir au moins 1 lettre minuscule !
              </label>
              <label class="col invalid_msg" [ngClass]="signupForm.get('password')?.errors?.['required'] || signupForm.get('password')?.errors?.['hasSpecialCharacters'] ? 'text-danger': 'text-success'">
                <i class="material-icons">{{ signupForm.get('password')?.errors?.['required'] || signupForm.get('password')?.errors?.['hasSpecialCharacters'] ? 'cancel': 'check_circle' }}</i>
                Le mot de passe doit contenir au moins 1 caractère spécial !
              </label>
            </div> <br>

            <!-- Confirm Password Field -->
            <input type="password" placeholder="Confirmer votre mot de passe" class="box" formControlName="confirmPassword">
            <div *ngIf="signupForm.get('confirmPassword')?.invalid && (signupForm.get('confirmPassword')?.dirty || signupForm.get('confirmPassword')?.touched)" class="errorMsg">
              <div *ngIf="signupForm.get('confirmPassword')?.errors?.['required']">La confirmation du mot de passe est requise</div>
              <div *ngIf="signupForm.get('confirmPassword')?.errors?.['notMatching']">Les mots de passe ne correspondent pas</div>
            </div> <br>

            <!-- Address Field -->
            <input type="text" placeholder="Addresse complete" class="box" formControlName="adress">
            <div *ngIf="signupForm.get('adress')?.invalid && (signupForm.get('adress')?.dirty || signupForm.get('adress')?.touched)" class="errorMsg">
              <div *ngIf="signupForm.get('adress')?.errors?.['required']">L'adresse est requise</div>
              <div *ngIf="signupForm.get('adress')?.errors?.['minlength']">L'adresse doit contenir au moins 5 caractères</div>
              <div *ngIf="signupForm.get('adress')?.errors?.['maxlength']">L'adresse ne peut pas dépasser 100 caractères</div>
            </div> <br>

            <!-- ZIP Code Field -->
            <input type="text" placeholder=" Code postal" class="box" formControlName="zipCode">
            <div *ngIf="signupForm.get('zipCode')?.invalid && (signupForm.get('zipCode')?.dirty || signupForm.get('zipCode')?.touched)" class="errorMsg">
              <div *ngIf="signupForm.get('zipCode')?.errors?.['required']">ZIP Code est requis</div>
              <div *ngIf="signupForm.get('zipCode')?.errors?.['pattern']">Code postal invalide (doit comporter 4 chiffres)</div>
            </div> <br>

            <!-- Phone Field -->
            <input type="tel" placeholder="Numéro de téléphone" class="box" formControlName="phone">
            <div *ngIf="signupForm.get('phone')?.invalid && (signupForm.get('phone')?.dirty || signupForm.get('phone')?.touched)" class="errorMsg">
              <div *ngIf="signupForm.get('phone')?.errors?.['required']">Phone number is required</div>
              <div *ngIf="signupForm.get('phone')?.errors?.['pattern']">Invalid phone number (must start with +216 and have 8 digits)</div>
            </div> <br>

            <!-- Status Field -->

            <div style="display: flex; align-items: center; gap: 10px;">
              <input type="radio" id="standard" name="status" value="standard" formControlName="status">
              <label for="standard">standard</label>
              <input type="radio" id="parrain" name="status" value="parrain" formControlName="status">
              <label for="parrain">parrain</label>
            </div>

            <!-- Image Upload -->
            <input type="file" style="display: none;" #filePicker (change)="onImageSelect($event)">
            <div>
              <button class="btn-File" (click)="filePicker.click()">Sélectionnez votre photo</button>
            </div>
            <div style="padding-top: 20px;">
              <img [src]="imagePreview" alt="" width="200px">
              <div *ngIf="signupForm.get('img')?.hasError('required')">
                <p class="errorMsg">Veuillez sélectionner une image</p>
              </div>
            </div><br>

            <!-- Submit Button -->
            <button type="submit" class="btn-Flower" [disabled]="signupForm.invalid" [ngClass]="{'no-hover': signupForm.invalid}" (click)="submit()">S'inscrire</button>
          </form>

          <!-- Side Image (Permanently on the Right Side) -->
          <div class="image-container">
            <div class="login_box_img">
              <img class="img-fluid" src="assets/register.png" alt="">
              <div class="hover">
                <h4>Nouveau sur notre site ?</h4>
                <p>
                  Vous avez déjà un compte ? Qu'attendez-vous ?<br>
                </p>
                <span><a routerLink="/login" class="btn-Flower">Connexion</a></span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<app-footer></app-footer>
